@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
}

.container-centered {
  background-color: #d8dadd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  // color: white;

  h1 {
    margin-bottom: 20vh;
  }
}

.App-link {
  color: #61dafb;
}